<div class="container" style="padding:5%!important;" data-ng-init="getAllAssessments()">	
	<div id="parent_assessments_allTable" class="container" align="center">
		<div id="parent_assessments_errorMessage" data-ng-if="errorMessage" data-ng-model="errorMessage" style="color: red!important;">{{errorMessage}}</div>
		<div id="parent_assessments_successMessage" data-ng-if="successMessage" data-ng-model="successMessage" style="color: green!important;">{{successMessage}}</div>
		<p class="h2" style="margin-bottom:20px!important;">Assessments</p>
		<p align="right"><input type="text" data-ng-model="search" style="padding-left: 10px; padding-right: 10px" placeholder="Search..."></p>
		<table class="table table-hover table-bordered">
			<thead class="thead-light">
				<tr>
					<th data-ng-click="orderByMe('id')" scope="col">ID</th>
					<th data-ng-click="orderByMe('assessmentName')" scope="col">Assessment Name</th>
					<th data-ng-click="orderByMe('description')" scope="col">Description</th>
					<th data-ng-click="orderByMe('category')" scope="col">Category</th>
					<th data-ng-click="orderByMe('difficulty')" scope="col">Difficulty</th>
					<th data-ng-click="orderByMe('questions')" scope="col">Questions</th>
					<th data-ng-click="orderByMe('timeLimit')" scope="col">Time Limit</th>
					<th data-ng-click="orderByMe('attempts')" scope="col">Attempts</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="x in assessmentdetails | orderBy: myOrder | filter: search">
					<td>{{x.id}}</td>
					<td>{{x.assessmentName}}</td>
					<td>{{x.description}}</td>
					<td>{{x.category}}</td>
					<td>{{x.difficulty}}</td>
					<td>{{x.qcount}}</td>
					<td>{{timeToStrShort(x.timeLimit)}}</td>
					<td>{{x.attempts}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
