<div class="container" style="padding:5%!important;">	
	<div id="admin_questioncreate_createForm" data-ng-submit="addQuestion(newquestion)" style="padding-left:5%!important; padding-right:5%!important;">
		<p class="h2" style="margin-bottom:20px!important;">Create Question</p>
		<div id="admin_questioncreate_errorMessage" data-ng-if="errorMessage" data-ng-model="errorMessage" style="color: red!important;">{{errorMessage}}</div>
		<form name="question_create" id="question_create_form">
			<div class="form-group">
				<label for="question_ques" style="font-size: 15px!important;">Question</label>
				<textarea name="question_ques" class="form-control rounded-0" rows="3" data-ng-model="newquestion.ques" required></textarea>
				<span data-ng-show="question_create.question_ques.$touched && question_create.question_ques.$invalid">Question cannot be empty</span>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" style="font-size: 15px!important;" for="question_opta">A.</label>
				<div class="col-sm-10">
					<input name="question_opta" class="form-control" type="text" data-ng-model="newquestion.opta" required></input>
					<span data-ng-show="question_create.question_opta.$touched && question_create.question_opta.$invalid">At least two options are required.</span>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" style="font-size: 15px!important;" for="question_optb">B.</label>
				<div class="col-sm-10">
					<input name="question_optb" class="form-control" type="text" data-ng-model="newquestion.optb" required></input>
					<span data-ng-show="question_create.question_optb.$touched && question_create.question_optb.$invalid">At least two options are required.</span>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" style="font-size: 15px!important;" for="question_optc">C.</label>
				<div class="col-sm-10">
					<input name="question_optc" class="form-control" type="text" data-ng-model="newquestion.optc"></input>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" style="font-size: 15px!important;" for="question_optd">D.</label>
				<div class="col-sm-10">
					<input name="question_optd" class="form-control" type="text" data-ng-model="newquestion.optd"></input>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" style="font-size: 15px!important;" for="question_answer">Answer</label>
				<div class="col-sm-10">
					<select name="question_answer" class="form-control" data-ng-model="newquestion.answer" required>
	      				<option value='a'>a</option>
	      				<option value='b'>b</option>
	      				<option value='c'>c</option>
	      				<option value='d'>d</option>
	   			 	</select>
	   			 	<span data-ng-show="newquestion.answer=='c' && newquestion.optc==''">Answer c is empty.</span>
	   			 	<span data-ng-show="newquestion.answer=='d' && newquestion.optd==''">Answer d is empty.</span>
	   			 	<span data-ng-show="question_create.question_answer.$touched && question_create.question_answer.$invalid">An Answer is required.</span>
	   			 </div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" style="font-size: 15px!important;" for="question_category">Category</label>
				<div class="col-sm-10">
					<select id="question_category" class="form-control" data-ng-model="newquestion.category" required>
	      				<option value='EQ'>EQ</option>
	      				<option value='IQ'>IQ</option>
	   			 	</select>
	   			 	<span data-ng-show="question_create.question_category.$touched && question_create.question_category.$invalid">A Category is required</span>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" for="question_difficulty">Difficulty</label>
				<div class="col-sm-10">
					<select id="question_difficulty" class="form-control" data-ng-model="newquestion.difficulty" required>
	      				<option value="easy">Easy</option>
	      				<option value="medium">Medium</option>
	      				<option value="hard">Hard</option>
	   			 	</select>
	   			 	<span data-ng-show="question_create.question_difficulty.$touched && question_create.question_difficulty.$invalid">A Difficulty is required</span>
				</div>
			</div>
			
			<div align="center" class="form-group row">
				<button id="create_question_submitbtn" type="submit" class="btn btn-primary">Create</button>
			</div>
		</form>
	</div>
</div>
