<div class="container" style="padding:5%!important;">
	<div id="admin_parentregister_createForm" data-ng-submit="addParent(newparent)">
		<p class="h2" style="margin-bottom:20px!important;">Register Parent</p>
		<div id="admin_parentregister_errorMessage" data-ng-if="errorMessage" data-ng-model="errorMessage" style="color: red!important;">{{errorMessage}}</div>
		<form name="parent_create" id="parent_create_form">
			<div class="form-group">
				<label for="parent_firstname" style="font-size: 15px!important;">First Name</label>
				<input name="parent_firstname" class="form-control" type="text" data-ng-model="newparent.firstName" required/>
				<span data-ng-show="parent_create.parent_firstname.$touched && parent_create.parent_firstname.$invalid">First name is required.</span>
			</div>
			<div class="form-group">
				<label for="parent_lastname" style="font-size: 15px!important;">Last Name</label>
				<input name="parent_lastname" class="form-control" type="text" data-ng-model="newparent.lastName" required/>
				<span data-ng-show="parent_create.parent_lastname.$touched && parent_create.parent_lastname.$invalid">Last name is required.</span>
			</div>
			<div class="form-group">
				<label for="parent_email" style="font-size: 15px!important;">Email</label>
				<input name="parent_email" class="form-control" type="email" data-ng-model="newparent.email" required/>
				<span data-ng-show="parent_create.parent_email.$touched && parent_create.parent_email.$invalid">Enter a valid email.</span>
			</div>
			<div class="form-group">
				<label for="parent_phone" style="font-size: 15px!important;">Phone</label>
				<input name="parent_phone" class="form-control" type="tel" data-ng-model="newparent.phone" data-ng-pattern="/^(\+91[\-\s]?)?[0]?(91)?[789]\d{9}$/"/>
				<span data-ng-show="parent_create.parent_phone.$invalid">Phone number is not valid.</span>
			</div>
			<div class="form-group">
				<label for="parent_location" style="font-size: 15px!important;">Location</label>
				<input name="parent_location" class="form-control" type="text" data-ng-model="newparent.location"></input>
			</div>
			<div class="form-group">
				<label for="parent_dob" style="font-size: 15px!important;">Date of Birth</label>
				<input name="parent_dob" class="form-control" type="date" data-ng-model="newparent.dob"></input>
			</div>
			
			<div align="center">
				<button id="register_parent_submitBtn" type="submit" class="btn btn-primary">Register</button>
			</div>
		</form>
	</div>
</div>