<div class="container" style="padding:5%!important;" data-ng-init="getAllStudents()">	
	<div id="admin_students_allTable" class="container" align="center">
		<div id="admin_students_errorMessage" data-ng-if="errorMessage" data-ng-model="errorMessage" style="color: red!important;">{{errorMessage}}</div>
		<div id="admin_students_successMessage" data-ng-if="successMessage" data-ng-model="successMessage" style="color: green!important;">{{successMessage}}</div>
		<p class="h2" style="margin-bottom:20px!important;">Manage Students</p>
		<p align="right"><input type="text" data-ng-model="search" style="padding-left: 10px; padding-right: 10px" placeholder="Search..."></p>
		<table class="table table-hover table-bordered">
			<thead class="thead-light">
				<tr>
			        <th data-ng-click="orderByMe('id')" scope="col">ID</th>
			        <th data-ng-click="orderByMe('firstName')" scope="col">Name</th>
			        <th data-ng-click="orderByMe('parent.firstName')" scope="col">Parent</th>
			        <th data-ng-click="orderByMe('email')" scope="col">Email</th>
			        <th data-ng-click="orderByMe('institution')" scope="col">Institution</th>
                	<th data-ng-click="orderByMe('standard')" scope="col">Standard</th>
			        <th data-ng-click="orderByMe('location')" scope="col">Location</th>
			        <th scope="col">Manage</th>
		      	</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="x in studentdetails | orderBy : myOrder | filter: search">
					<td>{{x.id}}</td>
	                <td>{{x.firstName}} {{x.lastName}}</td>
	                <td><button class="btn btn-primary btn-sm" data-ng-click="editParent(x.parent.id)">{{x.parent.firstName}} {{x.parent.lastName}}</button></td>
	                <td>{{x.email}}</td>
	                <td>{{x.institution}}</td>
	                <td>{{x.standard}}</td>
	                <td>{{x.location}}</td>
	                <td>
			        	<button class="btn btn-info btn-sm" data-ng-click="editStudent(x.id)">VIEW/EDIT</button>
			        </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>