<div id="questions"  align="center"  data-ng-init="getQuestions()">
	
		<h2>Manage Questions</h2>
		<div>
		<button data-ng-click="go('/question/new')">Add a new question</button>
		</div>
		<table>
			<tr>
				<th>ID</th>
				<th>Category</th>
				<th>Question Type</th>
				<th>Question</th>
				<th>Answer Key</th>
				<th>Created By</th>
				<th>Edit</th>
				<th>Delete</th>
				</tr>
					<tr data-ng-repeat="x in response">
				<td>{{x.id}}</td>
				<td>{{x.category}}</td>
				
				<td>{{x.difficulty}}</td>
				<td>{{x.question}}</td>
				<td>{{x.answer}}</td>
				
				<td>{{x.createdby}}</td>
			<td><button onclick="viewquestion(x.id)">View</button></td>
			<td><button onclick="deletequestion(x.id)">View</button></td>
				</tr>
		</table>
	
		
	</div>