.myNavbar {
    overflow: hidden;
    background-color: #333;
	font-family: Montserrat, sans-serif;
}

.nav-pills > li.active > a{
	background-color: #1abc9c;
}

/* Style the myNavigation bar links */
.myNavbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.myNavbar a.right {
    float: right;
}

/* Change color on hover */
.myNavbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

/* Responsive layout - when the screen is less than 400px wide, make the myNavigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .myNavbar a {
        float: none;
        width: 100%;
    }
}

.answerlabel {
	display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.answerlabel input {
  position: absolute;
  opacity: 0;
}
.radiobutton {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.answerlable:hover input ~ .radiobutton {
  background-color: #ccc;
}
.answerlabel input:checked ~ .radiobutton {
  background-color: #1abc9c;
}
.radiobutton:after {
  content: "";
  position: absolute;
  display: none;
}
.answerlabel input:checked ~ .radiobutton:after {
  display: block;
}
.answerlabel .radiobutton:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.progress { 
  height: 3em;
  i { line-height: 3.5em; }
}

.progress-bar { 
  transition: width 1s ease-in-out; 
}

.button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

@media (min-width: 768px) {
    .col-long {
        width: 25%;
    }
    .col-short {
        width: 50%;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.tabcontent {
     display: none;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.myDropdown .myDropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.myDropbtn:hover {
	background-color: green;
}


.myDropdown {
    float: left;
    overflow: hidden;
}

.myDropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.myDropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.myDropdown-content a:hover {
    background-color: #ddd;
}

.myDropdown:hover .myDropdown-content {
    display: block;
}

.show {display: block;}